.container-fluid {
    height: 100vh;
}

.left-arrow {
    position: absolute;
    left: 5px;
    bottom: 30px;
    font-size: 22px;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    right: 5px;
    bottom: 30px;
    font-size: 22px;
    cursor: pointer;
}

.person-job {
    font-size: 1rem;
    color: limegreen;
}